* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

body {
  background-color: #E5E5E5;
}

header {
  background-color: #5856D6;
  position: sticky;
  top: 0;
}

main, footer {
  padding-left: 100px;
  padding-right: 100px;
}

.navigation {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 75px;
  gap: 12px;
  padding-left: 100px;
  padding-right: 100px;

  font-weight: bold;
  font-size: 24px;
}

.wordmark{
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding: 0px;
  gap: 24px;
  list-style: none;

  width: 30%;
  height: 29px;

  font-family: "Lato";
}

.home {
  font-family: "Montserrat";
  color: #F9F9F9;
  text-decoration: none;
}

.nav a {
  color:#F7F7F7;
  text-decoration: none;
}
.nav a:hover{
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}

.ex {
  display: none;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  height: 620px;
  width: 100%;

  background: url(/images/Astronaut_Darkened\ 1.jpg);
  object-fit: fill;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  font-family: 'Lato';
  color: #F7F7F7;
  font-size: 40px;
  padding: 100px;
 }


.progress{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
  width: 100%;
  height: 50%;

}

progress{
  accent-color: #5856D6;
  width: 25%;
  padding: 30px;
}

button {
  font-family: 'Lato';
  color:#F7F7F7;
  font-size: 14px;
  background-color: #5AC8FA;
  border: none;
  width: 175px;
  height: 58px;
  cursor: pointer;
  vertical-align:middle;
  }

h2 {
  color: #53575A;
  font-family: 'Lato';
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 48px;
  margin-bottom: 100px;
  margin-top: 36px;
}

.single-todo{
  flex: 1 0 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;

  padding: 24px 30px;
  gap: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.125);
  background: #FFFFFF;
  font-family: "Lato";
  font-size: 24px;
}

footer{
  height: 53px;
  width: 100%;
  background-color:  #555555;
}

.task-complete {
  background-color: #CCCCCC;
}

.arrow{
  display: none;
}

/* for mobile site */
@media only screen and (max-width:768px) {
  .navigation, main, footer {
    padding-left: 24px;
    padding-right: 24px;
  }

  body {
    overflow-x: hidden;
  }

  .hero {
    align-items: center;
    font-size: large;
    height: 480px;
   }

   button {
     width: 120px;
     height: 41px;
   }

  .todo{
    flex-direction: column;
  }

  .single-todo{
    width: 100%;
  }

  .progress {
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    height: 136px;
    gap: 12px;
  }

  progress {
    width: 100%;
  }

  h2{
    font-size: 48px;
  }

  .nav {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 75px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 85%;
    padding:24px;
  }

  .nav a{
    color:#53575A;
  }

  .nav li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #E2E2E2;
  }
  .arrow {
    display: block;
  }

  /* he put in an opacity zero but i don't think i want my links to fade in */

  .burger{
    display: block;
  }

}

.nav-active {
  transform: translateX(0%);
}

.burger-active {
  display:none;
}

.ex-active {
  display: block;
}


